body {
	margin:0;
	background-image: url("https://cdn1.medicalnewstoday.com/content/images/headlines/023/23207/crystal-meth-thumb.jpg");
}

#form1 {
	width:100%;
	padding:20px;
	text-align:center;
}

#form1 input[type=text] {
	font-family:'Permanent Marker', cursive;
	font-size:20px;
	width:200px;
	height:160px;
	padding:6px 6px;
	box-sizing:border-box;
	border-top:40px solid #FFFF88;
	background-color: #FFFFA8;
	text-align:top;
}

#container {
        margin: 20px;
    }
.todo_card {
    font-family: 'Permanent Marker', cursive;
    display:inline-block;
    font-size: 20px;
    width: 200px;
    height: 160px;
    padding: 10px;
    border-top: 40px solid #FFFF88;
    background-color: #FFFFA8;
    display: inline-block;
    margin: 20px 20px 0px 0px;

    }