body,html {
	margin:0; 
	padding:0;
	width:100%;
	height:100%;
	background-color:powderblue;
}

/*PARALLAX SCROLLING */

.wrapper {
	height:100vh;
	overflow-x: hidden; /* the overflow from the images to left/right should be hidden */
	overflow-y:auto;
	perspective:2px; /*pulls image away from "camera"*/
}


 .parallax {
	position:relative; /* each section needs to be relative so the sections would be positioned on top of each other (not absolute, since it would overlap) */
	height:100vh; /* sets the height of each section to the view height of one page */
	width:100vw;
	display:flex; /* adjusts all elements in the div as vw and vh changes */
	align-items:center; /* align items vertically */
	justify-content:center; /* align items horizontally */
	color:white;
	text-shadow:0 0 5px #000; 
}

/* essentially moves the entire image back from the "camera" and makes it scroll at a different speed */

.parallax::after { /* inserts transformations after every parallax element */
	content:' ';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0; /* displays image and sets it to fill entire screen */
	transform: translateZ(-1px) scale(2); /*moves the picture further from the "camera", and makes it larger */
	background-size:100% 100%;  /* so that it fills the entire background */
	z-index:-1; /*won't overlap elements that are over it */
	background-repeat:none;
}

.picture1::after {
	background-image: url('https://i.pinimg.com/originals/86/c1/e9/86c1e93de9593e21de50d1bc7e5468be.gif');
	height:100vh;
}

/* TEXT STYLING - TOP */

.toptext {
	position:absolute;
	top:30vh;	
	width:500px;
	height:350px;
	padding:20px;
}


/* "LANDING PAGE" */

#hello {
	font-size:150px;
	font-family:'Lora',serif;
	font-style:italic;
	z-index:2;
}

#imsarah {
	font-size:100px;
	font-family:'open sans', sans-serif;
	font-weight:lighter;
	text-align:right;
}

#arrow {
	width:60px;
	position:absolute;
	bottom:5%;
	left:46%;
}

/* ABOUT ME */

.aboutme {
	background-color:white;
	position:absolute;
	height:75vh;
	width:100vw;
	color:black;
	text-shadow:none;
	}

.abtmetop {
	position:absolute;
	left:7vw;
	font-size:75px;
	padding-top:30px;
	font-family:'Lora',serif;
	font-style:italic;
}

.abtmeinfo {
	position:absolute;
	top:20vh;
	left:7vw;
	width:30%;
	padding:30px;
	line-height:30px;
	font-size:20px;
	font-family:'open sans', sans-serif;
}

#picofme {
	width:20%;
	position:absolute;
	margin-left:65vw;
	top:10vh;
}

/* UNDERLAY OF PROJECTS */

.underlay {
	position:absolute;
	width:100vw;
	height:290vh;
	top:100vh;
	z-index:1;
	overflow-y:hidden;
}

.projpic {
	position:absolute;
	width:720px;
	height:468px;
	transform: translateZ(-.25px);
	display:block;
	left:23vw;
}

#googlepic {top:101vh;}

#mbpic {top:165vh;}

#grampic {top:230vh;}

/* STATIC PROJECT OVERLAY */

/* setting the css for each section of the project, essentially made up of a smaller transparent div with borders */

.projextra {
	position:absolute;
	width:100vw;
	text-align:center;
	background-color:powderblue;
	z-index:3;
	font-family:'lora';
	font-style:italic;

}

.overlay {
	border: 1px solid;
	width:600px;
	height:50vh;
	position:relative;
	border-color:powderblue;
	z-index:2;
	border-width: 7vh 45vw 7vh 27vw;
}

.overlay a{
	color:black;
	text-decoration:none;
}

.overlay a:hover {
	text-decoration:underline;
}

/* Title text */

.title {
	padding:5px;
	position:absolute;
	border-radius:5px;
	left:500px;
	top:20vh;
	font-size:50px;
	font-family:'Lora',serif;
	font-style:italic;
	background-color:powderblue;

}

.projdescription {
	padding:5px;
	position:absolute;
	top:30vh;
	font-family:'open sans',sans-serif;
	left:550px;
	width:300px;
	color:black;
	background-color:powderblue;
}
/* EXTRAS: Projects heading and more button (bottom); */

.topper {
	height:20vh;
	top:175vh;
	font-size:75px;
	text-align:left;
	padding-left:7vw;
	padding-top:50px;
}

.morebtn {
	height:5vh;
	text-align:center;
	padding:100px auto;
}

.moreprojects {
	background-color:powderblue;
	color:black;
	z-index:3;
}

/* NAVIGATION */

#extraprojects {
	position:absolute;
	background-color:powderblue;
	width:100vw;
	height:30vh;
	top:400vh;
	text-align:center;
	font-family:'open sans',sans-serif;
}

#extraprojects a {
	color:black;
	text-decoration:none;
	padding:2px;
	border-radius:5px;
	margin-bottom:20px;
	font-size:20px;
}

#extraprojects a:hover {
	background-color:white;
}

