body {
	background-image:url("https://cdn.pixabay.com/photo/2016/12/02/12/06/background-1877688_960_720.jpg");
	background-position:top left;
	background-size:100vw 100vh;
	background-repeat:no-repeat;
	background-attachment:fixed;
	
}

#container {
    position: relative;
    height:100%;
}

#link_input {
	width:200px;
	height:30px;
	border-radius:5px;
	font-size:20px;
}

.frame {
	border:5px dashed white;
	margin:20px;
}