body {
	background-color:yellow;
}

.overlayDiv {

	width:300px;
	height:300px;
	background-image:url(https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}


.testDiv {
	position:absolute;
	width:100px;
	height:100px;
	top:100px;
	border:100px solid;
}